services:
    backend:
        image: dungcan2k5/sahafa-backend:latest
        restart: always
        ports:
            - "3000:3000"
        volumes:
            # Map thư mục data chứa DB
            - ./data:/app/data
            # Map thêm thư mục uploads để lưu resource/asset sau này
            - ./uploads:/app/uploads
        environment:
            - DB_STORAGE=/app/data/sahafa.sqlite
            - PORT=3000
            - UPLOAD_DIR=/app/uploads

    frontend:
        image: dungcan2k5/sahafa-frontend:latest
        restart: always
        ports:
            - "80:80"
            - "443:443"
        volumes:
            # Cấu trúc: /đường/dẫn/trên/vps : /đường/dẫn/trong/container
            # Ví dụ bạn lưu cert ở /home/zun/certs/ trên VPS:
            - /etc/ssl/cf-origin.crt:/etc/nginx/ssl/cf-origin.crt
            - /etc/ssl/cf-origin.key:/etc/nginx/ssl/cf-origin.key
        depends_on:
            - backend
